body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: crimson;
  color: white;
  font-family: sans-serif;
  position: relative;
  overflow: hidden;
}
.go-back{
  position: absolute;
  top: 10%;
  right: 3%;

}
.go-back a{
  text-decoration: none;
  color: #000000;
  font-size: 20px;
  transition: all 0.4s ease-in-out;

}
.go-back a:hover{
  color: #f6fd21;

}
.main {
  padding: 5px 0;
  text-align: center;
}

input {
  display: flex;
  flex-direction: column;
}

.inputs input {
  border: none;
  border-radius: 5px;
  padding: 1rem 10rem;
  outline: none;
  margin-bottom: 10px;
}

#selectOp {
  margin-bottom: 10px;
  padding: 10px;
  outline: none;
}

#btn {
  border: none;
  background: transparent;
  color: white;
  padding: 10px 20px;
  border: 2px solid white;
  margin-top: 10px;
  cursor: pointer;
}
