* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: sans-serif;
  position: relative;
}
.go-back{
  position: fixed;
  top: 10%;
  right: 3%;

}
.go-back a{
  text-decoration: none;
  color: #000000;
  font-size: 20px;
  transition: all 0.4s ease-in-out;

}
.go-back a:hover{
  color: #fd2121;

}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1000px;
}

.content img {
  object-fit: cover;
  margin: 10px;
  height: 300px;
  width: 300px;
  max-width: 100%;
}
